html {
  font-family: sans-serif;
  font-size: 12px;
}

body {
  margin: 0;
}

html,
body,
#root {
  height: 100%;
  overflow-x: hidden;
 }

.List {
  border: 1px solid #d9dddd;
}

.tableMain {
  height: 500px !important;
}
